<div class="memnosphere-card item-card interactive {{#if (eq selectedUUID this.uuid)}}selected{{/if}}" data-uuid="{{this.uuid}}" data-action="selectMemnosphere" title="{{this.name}}">
    <div class="plate border">
        <img class="img" src="{{this.img}}" />
        <div class="name">{{this.name}}</div>

        <div class="abilities">
            {{#each this.abilities}}
                <div class="ability" title="{{this.name}} : {{this.rank}} / {{this.maxRank}}">
                    <img class="img" src="{{this.img}}" alt="{{this.name}}" />

                    {{#unless (eq this.maxRank 1) }}
                    <div class="ability-rank-dots" data-rank="{{this.rank}}">
                        {{#times this.maxRank }}
                        <span class="rank-dot"></span>
                        {{/times}}
                    </div>
                    {{/unless}}
                </div>
            {{/each}}
        </div>

        {{#if this.canChooseHeroicSkill }}
        <div class="heroic-skill-section" style="text-align: center; margin-top: 5px;">
            <button type="button" class="heroic-skill-button" title="Choose Heroic Skill" data-action="openHeroicSkillPopup">
               {{#if this.heroicSkill.img}}
                    <img src="{{this.heroicSkill.img}}" alt="{{this.heroicSkill.name}}" style="max-width: 24px; max-height: 24px; vertical-align: middle;"/>
                {{else}}
                    <i class="fas fa-star"></i> <!-- Default icon if no heroic skill chosen or no image -->
                {{/if}}
            </button>
        </div>
        {{/if}}
    </div>
</div>